* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border: 1px solid #000;
}

.gridItem {
    flex-basis: calc(100% / 16);
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #333;
}
